@model CvGenerator.Models.CvInformation

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-action="Index" id="form">
        <h1 class="display-4 text-center m-5">Build your own CV just in few steps!</h1>

        <h4 class="m-4 mt-5">1. Enter Your Basic Information:</h4>
        <h6 class="ml-4 text-muted">Note: You can leave some fields empty if you don't want to be on your CV.</h6>
        <div class="m-4">
            <div class="row">
                <div class="col-md form-group">
                    First Name:
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md form-group">
                    Last Name:
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-md form-group">
                    Job Title:
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
                <div class="col-md form-group">
                    Email:
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md form-group">
                    City/State/Country:
                    <input asp-for="Address" class="form-control" />
                </div>
                <div class="col-md form-group">
                    Contact Number:
                    <input asp-for="ContactNumber" class="form-control" />
                </div>
                <div class="col-md form-group">
                    Linkedin Address:
                    <input asp-for="LinkedinLink" class="form-control" value="linkedin.com/in/your-name" />
                </div>
                <div class="col-md form-group">
                    Github Address:
                    <input asp-for="GithubLink" class="form-control" value="github.com/your-name" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    Protfolio/Personal Website:
                    <input asp-for="PersonalLink" class="form-control" />
                </div>
                <div class="col-md-3 form-group">
                    QR Code Title:
                    <input asp-for="QrCodeTitle" class="form-control" />
                </div>
                <div class="col-md-3 form-group">
                    QR Code Link:
                    <input asp-for="QrCodeLink" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    Skills: <small class="text-secondary ml-4">(Separate by a comma " , ")</small>
                    <input asp-for="SkillsInAString" class="form-control" data-role="tagsinput" />
                </div>
            </div>
        </div>

        <h4 class="m-4 mt-5">2. Your Education History</h4>
        <div class="m-4">
            <div class="text-center mb-4">
                <input class="btn btn-secondary" type="button" id="btnAddEducation" value="Add Education" />
            </div>
            <div class="row" id="divEducations">
                @for (var i = 0; i < Model.Educations.Count; i++)
                {
                    @Html.EditorFor(m => Model.Educations[i])
                }
            </div>
        </div>

        <h4 class="m-4 mt-5">3. Your Employment History</h4>
        <div class="m-4">
            <div class="text-center mb-4">
                <input class="btn btn-secondary" type="button" id="btnAddEmployment" value="Add Employment" />
            </div>
            <div class="row" id="divEmployments">
                @for (var i = 0; i < Model.Employments.Count; i++)
                {
                    @Html.EditorFor(m => Model.Employments[i])
                }
            </div>
        </div>

        <h4 class="m-4  mt-5">4. Your Language Skills</h4>
        <div class="m-4">
            <div class="text-center mb-4">
                <input class="btn btn-secondary" type="button" id="btnAddLanguage" value="Add Language" />
            </div>
            <div class="row" id="divLanguages">
                @for (var i = 0; i < Model.Languages.Count; i++)
                {
                    @Html.EditorFor(m => Model.Languages[i])
                }
            </div>
        </div>

        <h4 class="m-4  mt-5">5. Your Projects</h4>
        <div class="m-4">
            <div class="text-center mb-4">
                <input class="btn btn-secondary" type="button" id="btnAddProject" value="Add Project" />
            </div>
            <div class="row" id="divProjects">
                @for (var i = 0; i < Model.Projects.Count; i++)
                {
                    @Html.EditorFor(m => Model.Projects[i])
                }
            </div>
        </div>

        <h4 class="m-4 mt-5">6. Optional Settings</h4>
        <div class="m-4">
            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="mb-4">Margin</h6>
                    <input type="range" asp-for="Margin" class="custom-range" min="0" max="64" value="32" oninput="document.getElementById('sliderValueMargin').innerHTML = this.value;" />
                    <div><span id="sliderValueMargin">32</span>px</div>
                </div>
                <div class="col-4 text-center">
                    <h6 class="mb-4">Scale</h6>
                    <input type="range" asp-for="Scale" class="custom-range" min="70" max="110" value="90" oninput="document.getElementById('sliderValueScale').innerHTML = this.value;" />
                    <div><span id="sliderValueScale">90</span>%</div>
                </div>
                <div class="col-4 text-center">
                    <h6 class="mb-4">Theme Color</h6>
                    <span class="theme-color-picker"></span>
                    <input type="hidden" asp-for="ThemeColor" class="theme-color-value" />
                </div>
            </div>
        </div>

        @*<div class="m-4 mt-5">
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="All" class="text-danger">
                        <span>Please correct the following errors</span>
                    </div>
                </div>
            </div>
        </div>*@

        <h4 class="m-4 mt-5">That's it!</h4>
        <div class="text-center">
            <input type="button" id="btnShowPreview" value="Show Preview" class="btn btn-outline-primary m-1" />
        </div>

        <div id="divPreview" class="d-none">
            <h4 class="m-4 mt-5">Preview:</h4>
            <div class="row justify-content-center">
                <div class="p-3 d-inline-block" style="background-color:#f6f6f6;">
                    <canvas id="pdfPreview"></canvas>
                </div>
            </div>
        </div>

        <div id="divDownload" class="d-none">
            <h4 class="m-4 mt-5">Download Your CV!</h4>
            <div class="row m-4">
                <div class="col">
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="chkAgreePrivacy" asp-for="AgreePrivacy">
                        <label class="custom-control-label" for="chkAgreePrivacy">I have read the <a asp-action="Privacy">Privacy page</a> and agree with all terms and conditions.</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="chkAgreeSave" asp-for="AgreeSave">
                        <label class="custom-control-label" for="chkAgreeSave">I consent this site to save my personal information in order to let employers find me.</label>
                    </div>
                    <div class="text-center">
                        <input type="submit" id="btnDownload" class="btn btn-primary disabled" disabled value="Download Now" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); };
    <script src="~/lib/pdf.js/pdf.min.js"></script>
    <script src="~/lib/pdf.js/pdf.worker.min.js"></script>

    <script src="~/lib/jquery-colorpickersliders/jquery.colorpickersliders.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-colorpickersliders/jquery.colorpickersliders.css" />
    <script src="~/lib/tinycolor.js"></script>

    <script type="text/javascript">
        $("#btnAddEducation").on("click", function () {
            $.ajax({
                url: "/Home/AddEducation",
                success: function (partialView) {
                    var i = $("#divEducations").children().length;
                    var item = $.parseHTML(partialView);
                    item = ConvertInputsToBeAsArrayItem(item, "@nameof(Model.Educations)", i);
                    $('#divEducations').append(item);
                }
            });
        });

        $("#btnAddEmployment").on("click", function () {
            $.ajax({
                url: "/Home/AddEmployment",
                success: function (partialView) {
                    var i = $("#divEmployments").children().length;
                    var item = $.parseHTML(partialView);
                    item = ConvertInputsToBeAsArrayItem(item, "@nameof(Model.Employments)", i);
                    $('#divEmployments').append(item);
                }
            });
        });

        $("#btnAddLanguage").on("click", function () {
            $.ajax({
                url: "/Home/AddLanguageSkill",
                success: function (partialView) {
                    var i = $("#divLanguages").children().length;
                    var item = $.parseHTML(partialView);
                    item = ConvertInputsToBeAsArrayItem(item, "@nameof(Model.Languages)", i);
                    $('#divLanguages').append(item);
                }
            });
        });

        $("#btnAddProject").on("click", function () {
            $.ajax({
                url: "/Home/AddProject",
                success: function (partialView) {
                    var i = $("#divProjects").children().length;
                    var item = $.parseHTML(partialView);
                    item = ConvertInputsToBeAsArrayItem(item, "@nameof(Model.Projects)", i);
                    $('#divProjects').append(item);
                }
            });
        });

        $("#btnShowPreview").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/Home/Preview",
                data: $('form').serialize(),
                success: function (data) {
                    var dataBytes = atob(data);
                    var canvas = document.getElementById("pdfPreview");
                    RenderPdfIntoCanvas(dataBytes, canvas);
                    $("#divPreview").removeClass("d-none");
                    $("#divDownload").removeClass("d-none");
                }
            });
        });

        $("#chkAgreePrivacy").on("click", function () {
            var btn = $("#btnDownload");
            if (this.checked) {
                btn.removeClass("disabled");
                btn.removeAttr("disabled");
            }
            else {
                btn.addClass("disabled");
                btn.attr("disabled", "disabled");
            }
        });

        $(".theme-color-picker").ColorPickerSliders({
            previewformat: 'hsl',
            flat: true,
            customswatches: false,
            swatches: [],
            color: '#526178',
            order: {
                hsl: 1,
                preview: 2
            },
            labels: {
                hslhue: 'Hue',
                hslsaturation: "Saturation",
                hsllightness: "Lightness",
                preview: "Preview"
            },
            onchange: function (container, color) {
                $("#ThemeColor").attr('value', color.tiny.toHexString());
            }
        });
    </script>
}